body{
    background-color: green;
}
#form{
    width: 400px;
    justify-content: center;
    position:;
    margin-left: 450px;
    margin-top: 50px;
    padding: 30px;
    color: black;
    background-color: white;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}
.form-control{
    text-align: left;
    margin-bottom: 25px;
}
.form-control label {
    display: block;
    margin-bottom: 10px;
}
input[type=button]{
    text-align:center;
    width: 100%;
}
button{
    align-items: center;
    display: block;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}